<ion-item>
  <ion-label position="stacked">{{ label || ('FIELDS.PASSWORD.LABEL' | translate) }}</ion-label>
  <ion-input [type]="showPassword ? 'text' : 'password'"
             [placeholder]="placeholder || ('FIELDS.PASSWORD.PLACEHOLDER' | translate)"
             [formControl]="control" [required]="required"></ion-input>

  <ion-icon slot="end"
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            [title]="(showPassword ? 'FIELDS.PASSWORD.HIDE_PASSWORD_VISIBILITY' : 'FIELDS.PASSWORD.SHOW_PASSWORD_VISIBILITY') | translate"
            (click)="togglePasswordVisibility()"></ion-icon>

  <app-field-error-message [visible]="showValidationErrorMessage" [currentControl]="control">
  </app-field-error-message>
</ion-item>
