<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ "HOME_PAGE_TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "HOME_PAGE_TITLE" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="u-text-align--left u-margin-left--md u-margin-top--md">
      <div class="u-margin-bottom--lg">
        <h3>Text Styles</h3>

        <div class="u-margin-left--md">
          <h1>Header 1</h1>
          <h2>Header 2</h2>
          <h3>Header 3</h3>
          <h4>Header 4</h4>
          <h5>Header 5</h5>
          <h6>Header 6</h6>
          <p>Paragraph</p>
        </div>
      </div>

      <div class="u-margin-bottom--lg">
        <h3>Link</h3>

        <div class="u-margin-left--md">
          <a class="c-link u-margin-bottom--md">Link</a>

          <a class="c-link">
            <ion-icon name="airplane-outline"></ion-icon>
            Link with icon
          </a>
        </div>
      </div>

      <div class="u-margin-bottom--lg">
        <h3>Button</h3>

        <div class="u-margin-left--md">
          <app-button class="u-margin-bottom--md">Button</app-button>

          <app-button class="u-margin-bottom--md" icon="airplane-outline"> Button with Icon </app-button>

          <app-button class="u-margin-bottom--md" icon="airplane-outline" arrow="true">
            Button with Icon and Arrow
          </app-button>

          <app-button class="u-margin-bottom--md" loading="true" disabled="true">
            Button Loading and Disabled
          </app-button>

          <app-button class="u-margin-bottom--md" outline="true" inverted="true">
            Button Inverted Outline
          </app-button>

          <app-button class="u-margin-bottom--md" size="lg"> Button Outline </app-button>

          <app-button class="u-margin-bottom--md" clear="true"> Button Outline </app-button>
        </div>
      </div>

      <div class="u-margin-bottom--lg">
        <h3>Cards</h3>

        <div class="u-margin-left--md">
          <div
            class="c-card c-card--illustrated c-card--inverted u-background--primary-300 e-card-example u-margin-bottom--md">
            <h3 class="c-card__title">Card Title</h3>
            <p class="c-card__description">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia nobis quod vel recusandae earum
              eum explicabo, magnam, inventore.
            </p>

            <app-button class="c-card__button" inverted="true" size="sm"> Learn More </app-button>
          </div>

          <div class="c-card c-card--illustrated e-card-example-2 u-margin-bottom--md">
            <h3 class="c-card__title">Card Title</h3>
            <p class="c-card__description">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia nobis quod vel recusandae earum
              eum explicabo, magnam, inventore.
            </p>

            <app-button class="c-card__button" size="sm"> Learn More </app-button>
          </div>

          <div class="c-card c-card--center u-margin-bottom--md">
            <ion-icon class="c-card__icon" name="rainy"></ion-icon>
            <h3 class="c-card__title">Card Title</h3>
            <p class="c-card__description">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia nobis quod vel recusandae earum
              eum explicabo, magnam, inventore.
            </p>

            <app-button class="c-card__button" size="sm"> Learn More </app-button>
          </div>

          <div class="c-card c-card--center">
            <img class="c-card__image" src="../../../../../assets/images/illustration/illustration-1.png" />

            <h3 class="c-card__title">Card Title</h3>
            <p class="c-card__description">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia nobis quod vel recusandae earum
              eum explicabo, magnam, inventore.
            </p>

            <app-button class="c-card__button" size="sm"> Learn More </app-button>
          </div>
        </div>
      </div>

      <div class="u-margin-bottom--lg">
        <h3>List and Bullets</h3>

        <div class="u-margin-left--md">
          <div class="c-card u-margin-bottom--md">
            <h3 class="c-card__title">List</h3>

            <ul class="c-list">
              <li class="c-list__item">
                <a href="#" class="c-list__action">
                  <ion-icon class="c-list__icon" name="eye"></ion-icon>
                  <div class="c-list__label">Action 1</div>

                  <div class="c-badge u-color--success u-margin-right--sm">Negative</div>

                  <ion-icon class="c-list__arrow" name="chevron-forward-outline"></ion-icon>
                </a>
              </li>

              <li class="c-list__item">
                <a href="#" class="c-list__action">
                  <ion-icon class="c-list__icon" name="flask"></ion-icon>
                  <div class="c-list__label">Lorem impsum and a very very long title pushing stuff away</div>
                  <ion-icon class="c-list__arrow" name="chevron-forward-outline"></ion-icon>
                </a>
              </li>
            </ul>
          </div>

          <div class="c-card u-margin-bottom--md">
            <h3 class="c-card__title">Bullets</h3>

            <ul class="c-list c-list--bullet">
              <li class="c-list__item">
                <ion-icon class="c-list__icon u-color--success" name="checkmark"></ion-icon>
                <div class="c-list__label">Lorem impsum 1</div>
              </li>

              <li class="c-list__item">
                <ion-icon class="c-list__icon u-color--success" name="checkmark"></ion-icon>
                <div class="c-list__label">Lorem impsum and a very very long title pushing stuff away</div>
              </li>
            </ul>
          </div>

          <div class="c-card u-margin-bottom--md">
            <h3 class="c-card__title">Numbers</h3>

            <ol class="c-list c-list--bullet c-list--multiline">
              <li class="c-list__item">
                <div class="c-list__number">1</div>
                <div class="c-list__label">Lorem impsum 1</div>
              </li>

              <li class="c-list__item">
                <div class="c-list__number">2</div>
                <div class="c-list__label">Lorem impsum and a very very long title pushing stuff away</div>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="u-margin-bottom--lg">
        <h3>Breadcrumb</h3>

        <div class="u-margin-left--md">
          <ol class="c-breadcrumb">
            <li class="c-breadcrumb__item c-breadcrumb__item--completed">Patient Screening</li>
            <li class="c-breadcrumb__item c-breadcrumb__item--active">Generate Voucher</li>
            <li class="c-breadcrumb__item">Confirm and Share</li>
          </ol>
        </div>
      </div>

      <div class="u-margin-bottom--lg">
        <h3>Modal</h3>

        <div class="u-margin-left--md">
          <app-button class="u-margin-bottom--md" (click)="openModal()"> Show Modal </app-button>

          <app-button (click)="openModal(true)"> Show Long Modal </app-button>
        </div>
      </div>

      <div class="u-margin-bottom--lg">
        <h3>Toast</h3>

        <div class="u-margin-left--md">
          <app-button class="u-margin-bottom--md" (click)="triggetToast('success')"> Success </app-button>

          <app-button class="u-margin-bottom--md" (click)="triggetToast('error')"> Error </app-button>

          <app-button class="u-margin-bottom--md" (click)="triggetToast('info')"> Info </app-button>

          <app-button (click)="triggetToast('warning')"> Warning </app-button>
        </div>
      </div>

      <div class="u-margin-bottom--lg">
        <h3>Input</h3>

        <div class="u-margin-left--md">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <app-content-segment
              label="Segment"
              [options]="segmentOptions"
              [(value)]="segment"></app-content-segment>

            <app-field-checkbox formControlName="checkbox" label="Checkbox" [disabled]="true"></app-field-checkbox>

            <app-field-input formControlName="text" label="Test Disable"> </app-field-input>

            <app-field-input formControlName="scan" label="Test" validationIcon="scan"> </app-field-input>

            <app-field-input formControlName="email" label="Email" type="email" icon="mail"> </app-field-input>

            <app-field-otp formControlName="otp" label="OTP"></app-field-otp>

            <app-field-radio formControlName="radio1" label="Testing" [options]="radioOptions"> </app-field-radio>

            <app-field-toggle formControlName="radio2" label="Testing" [options]="radioOptions">
            </app-field-toggle>

            <app-field-select formControlName="select" label="Select" [options]="selectOptions">
            </app-field-select>

            <app-field-password formControlName="password" label="Testing"> </app-field-password>

            <app-field-file formControlName="file" label="Testing"> </app-field-file>

            <app-field-datetime formControlName="datetime" label="Testing Date"></app-field-datetime>

            <app-button type="submit"> Submit </app-button>
          </form>
        </div>
      </div>

      <div class="u-margin-bottom--lg">
        <h3>Text Divider</h3>

        <div class="u-margin-left--md">
          <h6 class="c-text-divider">Testing Label</h6>
        </div>
      </div>
    </div>
  </div>
</ion-content>
