@import '../sizing.scss';
@import '../variables.scss';

.c-toast-container {
  position: fixed;
  top: $size-md;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  width: 100%;

  pointer-events: none;

  &__wrapper {
    display: flex;
    justify-content: center;
  }
}

.c-toast {
  @keyframes fadeInSlideIn {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeOutSlideOut {
    from {
      opacity: 1;
      transform: none;
    }
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }

  display: flex;
  align-items: center;
  max-width: 46 * $size-base;

  margin-bottom: $size-md;
  padding: $size-md $size-lg;
  padding-left: $size-md;

  border-radius: $size-sm;
  box-shadow: 0 10px 30px 0 rgba(0, 30, 92, 0.12);
  background-color: #ffffff;
  color: var(--color-gray-900);
  animation: fadeInSlideIn var(--toast-message-duration) forwards 1
    cubic-bezier(0.075, 0.82, 0.165, 1);

  &--hidden {
    animation: fadeOutSlideOut var(--toast-message-duration) forwards 1
      cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &--success {
    background: var(--color-success);
    color: white;
  }

  &--info {
    .c-toast__icon {
      color: var(--color-message);
    }
  }

  &--error {
    background: var(--color-error);
    color: white;
  }

  &--warning {
    background: var(--color-warning);
    color: var(--color-gray-900);
  }

  &--success,
  &--error,
  &--warning {
    .c-toast__icon {
      color: inherit;
    }
  }

  &__icon {
    flex: 1 0 auto;
    margin-right: $size-sm;
    color: var(--color-blue-700);
    font-size: 1.5em;
    text-align: center;
  }

  &__label,
  &__button {
    font-size: 16px;
    line-height: 1.4;
    text-align: left;
  }

  &__button {
    background: none;
    border: none;
    box-shadow: none;
    margin-left: 18px;
    outline: none;
    text-decoration: underline;
    pointer-events: initial;
  }
}
