.e-store-example {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;

  &__wrapper {
    flex: 1;
    border-bottom: 1px solid #e0e0e0;
  }

  &__button {
    width: 100%;
    padding: 20px;
    margin: 1rem 0;
    background-color: cyan;
  }

  &__loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__body {
    margin-top: 1rem;
    font-size: 14px;
  }
}
